aside{
	ul,
	ol {
		list-style-type: none;
		margin-left: -40px;
	}
	h3{
		font-size: 14px;
		margin-bottom: 32px;
		&:after{
			border-bottom: 1px solid $action-color-2;
			content: "";
	    position: absolute;
	    width: 30px;
	    height: 1px;
	    left: 16px;
	    margin-left: 0px;
	    margin-top: 26px;
		}
	}
  .fa-stack{
    font-size: 11px;
    margin-right: -3px;
    color: $action-color-3;
  }
  .btn.btn-default{
    background-color: $action-color-2;
  }
	.btn{
		width: 100%;
		margin-top: 40px;
	}
}
